<!doctype html>
<html lang="en" xmls:th="https://www.thymeleaf.com">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Book Store</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">MatMAn-Book-Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="available_books">Available Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="my_books">My Books</a>
                </li>
            </ul>
            <div>
                <a class="nav-link text-white" href="book_register">New Book Register</a>
            </div>
        </div>
    </div>
</nav>
<div class="container text-center my-5">
    <h1><u>WELCOME TO NEW BOOK STORE</u></h1>
    <h6>The MatMan Bookshop is a locally owned independent bookshop committed to offering a quality selection of new and affordable bargain books, as well as gifts and educational items for customers of all ages and backgrounds.
        We are passionate about the written word and seek to share our love of reading to help create and sustain a community of lifelong readers.
        We strive to provide a hospitable and nurturing environment to encourage the healthy exchange of ideas by hosting numerous readings, book groups, panel presentations, and on-line discussions.
        We are committed to engaging with the many diverse peoples and organizations of our community, particularly in Western Massachusetts, but also on a national and international scale, to work towards the goals of a knowledgeable public and a peaceful and environmentally sustainable planet.</h6>
</div>
<div class="container text-center my-5">
    <h6><u>STORE HOURS</u><br>
        Monday - Saturday: 10:00 am - 5:30 pm<br>
        Sunday: Noon - 5:00 pm<br>
        Pick-up orders are available during regular hours.<br>
        Any questions concerning web orders can be sent to info@matmanbks.com</h6>
        <img src="/images/bg.png" width="360px" align="center "/>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>